# Groq API Key for Generative Fallback
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=your_model_generative

# Confidence Threshold (trigger fallback RAG)
CONFIDENCE_THRESHOLD=your_treshold

# API Server Host and Port Configuration
HOST=your_server_host
PORT=your_port_configuration
